<header class="container">
  <!-- Begin Menu Navigation
        ================================================== -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white mediumnavigation nav-down">
    <div class="container pr-0">
      <!-- Site Title
              ================================================== -->
      <!-- Begin Logo -->

      <router-link to="/" class="navbar-brand row">
        <span class="mainheading d-block">
          <span class="h2 sitetitle text-center">feezify:me</span>
          <p class="lead">
            <small><em>by Nicolas Jouanno</em></small>
          </p>
        </span>
      </router-link>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarMediumish"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMediumish">
        <!-- Begin Menu -->
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
              <router-link to="/user/id" class="nav-link ml-md-3 font-primary text-uppercase mr-2">Activités</router-link>
            </li>
            <li class="nav-item">
              <a href="/#/event/{{user._id}}/overview"
                class="nav-link ml-md-3 font-primary text-uppercase mr-2">Evénements</a>
            </li>
            <li class="nav-item">
              <a href="/#/health/{{user._id}}/overview"
                class="nav-link ml-md-3 font-primary text-uppercase mr-2">Formes</a>
            </li>
            <li class="nav-item">
              <a href="/#/team/{{user._id}}/overview" class="nav-link ml-md-3 font-primary text-uppercase mr-2">Teams</a>
            </li>
            <li class="nav-item">
              <div class="input-group mb-3">
                <button class="btn btn-primary ml-2 mr-3 dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus mr-2"></i><span
                    class="d-inline mr-3 ml-3">Ajouter</span></button>
                <div class="dropdown-menu">
                  <a href="/#/activities/add" class="dropdown-item"><i class="fas fa-stopwatch mr-2"></i>Activité</a>
                  <a href="/#/event/add" class="dropdown-item"><i class="fas fa-calendar mr-2"></i>Evénement</a>
                  <a href="/#/result/add" class="dropdown-item"><i class="fas fa-trophy mr-2"></i>Classement</a>
                  <a href="/#/health/add" class="dropdown-item"><i class="fas fa-file-medical-alt mr-2"></i>Tester ma
                    forme</a>
                  <a href="/#/team/add" class="dropdown-item"><i class="fas fa-users mr-2"></i>Team</a>
                </div>
              </div>
            </li>-->
          <li class="nav-item" v-if="user">
            <div class="input-group mb-3">
              <button
                class="btn btn-outline-dark border-0 ml-md-3 dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user mr-2"></i>{{ user.firstname }} {{ user.lastname }}
              </button>
              <div class="dropdown-menu">
                <router-link class="dropdown-item" :to="{ name: 'dashboard', params: { userId: user.id }}"
                  >Dashboard</router-link
                >
                <router-link class="dropdown-item" :to="{ name: 'profil', params: { userId: user.id }}"
                  >Profil</router-link
                >
                <router-link
                  class="dropdown-item border border-bottom-0 border-right-0 border-left-0 mt-2 pt-2 text-danger"
                  :to="{ name: 'logout', params: { userId: user.id }}"
                  >Se déconnecter</router-link
                >
              </div>
            </div>
          </li>
          <li class="nav-item" v-if="!user">
            <router-link to="/login" class="nav-link ml-md-3 font-primary text-uppercase mr-2"
              >Se connecter</router-link
            >
          </li>
        </ul>
        <!-- End Menu -->
      </div>
    </div>
  </nav>
  <!-- End Navigation
      ================================================== -->
</header>
